body {
    background-image: url("images/htmlbackground.JPG");
    justify-content: center;
}

canvas{
    display: block;
    margin: 0 auto;
}

h1{
    color:rgb(235,201,24);
    font-family: "puffin-arcade-liquid", sans-serif;
    font-size: 130px ;
    font-style: normal;
   text-align: center;
   margin: 0px;
}